<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <title>{% block title %}{{ site_title }}{% endblock %} | {{ author }} </title>
        <link rel="stylesheet" href="/theme/styles/main.css" type="text/css" />
        <link rel="stylesheet" href="/theme/styles/pygments.css" type="text/css" />
        <meta charset="utf-8" />

        <!--[if IE]>
            <script src="/theme/scripts/html5.js"></script><![endif]-->
        <!--[if lte IE 7]>
            <script src="/theme/scripts/IE9.js" type="text/javascript"></script><![endif]-->

        <meta name="title" content="{{site_title}}">
        <meta name="author" content="{{author}}">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="/themes/images/favicon/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="/themes/images/favicon/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="/themes/images/favicon/favicon-192.png">
        <link rel="icon" type="image/png" sizes="160x160" href="/themes/images/favicon/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/themes/images/favicon/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="/themes/images/favicon/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/themes/images/favicon/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/themes/images/favicon/favicon-16.png">
        <link rel="apple-touch-icon" href="/themes/images/favicon/favicon-57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/themes/images/favicon/favicon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/themes/images/favicon/favicon-72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/themes/images/favicon/favicon-144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/themes/images/favicon/favicon-60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/themes/images/favicon/favicon-120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/themes/images/favicon/favicon-76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/themes/images/favicon/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/themes/images/favicon/favicon-180.png">
        <link rel="alternate" type="application/rss+xml" title="{{ author }} Flux Rss" href="/feeds/all.atom.xml"/>

        <!-- <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic,700italic%7CSource+Code+Pro:400,700" rel="stylesheet" type="text/css"> -->

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

        <link rel="author" href="https://plus.google.com/u/0/+ValentinBrosseau" />
        <link rel="publisher" href="https://plus.google.com/u/0/+ValentinBrosseau">
    {% endblock head %}
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NP6W55"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NP6W55');</script>
    <!-- End Google Tag Manager -->

    <header id="banner">
        <section id="avatar" class="center">
            <a href="/"><img class="rounded" src="/theme/images/avatar.jpg" /></a>
        </section>

        <section class="center">
            <a href="/">
                <h1>{{ site_title }}</h1>
            </a>
        </section>

        <nav id="nav" class="center">
            <ul>
            {% for title, link in links %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </header>
    <section id="posts">
        {% block content %}
        {% endblock %}
    </section>

    <footer class="center" id="footer" itemscope itemtype="http://data-vocabulary.org/Person">
        G&eacute;n&eacute;r&eacute; par <a href="https://github.com/c4software/YASB">Yasb</a> le {{lastbuild.strftime("%Y-%m-%d")}} | <a rel="author" href="https://plus.google.com/104883394321573041618/about" title="+{{ author }}" itemprop="name">{{ author }}</a>
    </footer>
</body>
</html>
