@media screen and (max-width: 1000px) {
  #content .right {
    display: none;   }
    #content .left {
      width: 100% !important;
      padding-left: 0px !important;   }
      body {
        min-width: 100% !important;   }
        #content {
          min-width: 0px !important;   }
          #content .postContent {
            padding: 0px 0px 0px 0px;   }
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-image: url('../images/bright_squares.png');
  color: #4A473A;
  min-width: 1050px;
  font-family: "Crimson Text", Georgia, Times, serif; }

  em {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    background-color: #F8F8F8;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    display: block;
    font-style: normal; }

    em:before {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 1.2em;
      content: "Important :";
      display: block; }

      h1, h2, h3, h4, h5, h6 {
        text-shadow: white 0px 1px 0px;
        line-height: 1em; }

        .clear {
          clear: both; }

          ul {
            list-style: outside disc;
            margin: 1em 0 1.5em 1.5em; }

            hr {
              border: 0px;
              border-top: 1px solid #EEE; }

              a {
                color: #4A473A;
                text-decoration: underline;
                text-shadow: #CCC -1px 1px 1px; }

                a:hover {
                  text-decoration: underline;
                  text-shadow: #CCC -2px 2px 1px; }

                  #banner {
                    border-top: 5px solid #262626; }

                    #banner .pressTitle h1 {
                      font-weight: bold;
                      float: left;
                      border-right: 1px solid #EEE;
                      padding: 10px;
                      margin: 30px;
                      margin-top: 10px;
                      margin-bottom: 10px;
                      margin-right: 5px; }

                      #banner .pressTitle h2 {
                        font-weight: normal;
                        float: left;
                        font-size: 11pt;
                        padding: 10px;
                        margin: 50px;
                        margin-top: 26px;
                        margin-left: 0px;
                        margin-bottom: 10px;
                        text-transform: uppercase; }

                        nav ul {
                          margin: 0px;
                          list-style: none;
                          border-bottom: 1px solid #EEE; }

                          nav li {
                            display: inline;
                            margin: 0; }

                            nav li a {
                              color: #777;
                              border-bottom: none;
                              border: 1px solid transparent;
                              color: #777;
                              font-size: 0.8em;
                              font-weight: lighter;
                              letter-spacing: 0.04em;
                              line-height: 1.2em;
                              padding: 1px 15px;
                              text-decoration: none;
                              text-transform: uppercase; }

                              nav li a:hover {
                                background: #F1F1F1; }

                                #content {
                                  min-width: 90%;
                                  padding-top: 20px;
                                  min-height: 800px;
                                  padding-left: 5px; }

                                  #content .left {
                                    float: left;
                                    width: 75%;
                                    padding-left: 40px; }

                                    .strike {
                                      text-decoration: line-through; }

                                      #content .right {
                                        padding-right: 10px;
                                        padding-left: 5px;
                                        float: right;
                                        width: 19%; }

                                        #content .right h3 {
                                          border-bottom: 1px solid #DDD;
                                          color: #777;
                                          font-size: 10pt;
                                          letter-spacing: 1px;
                                          margin-bottom: 0.6em;
                                          padding: 6px 8px 3px 0px;
                                          text-align: left;
                                          text-transform: uppercase; }

                                          #content .right ul {
                                            margin: 0px 0px 10px;
                                            list-style: disc; }

                                            #content .right li {
                                              display: block;
                                              list-style: none;
                                              padding: 2px; }

                                              #content .postContent {
                                                width: 90%;
                                                padding-left: 20px;
                                                padding-bottom: 10px;
                                                text-align: justify; }

                                                #content .postContent h3 {
                                                  font-size: 1.17em;
                                                  margin-top: 10px;
                                                  margin-bottom: 0px; }

                                                  #content .postContent .post {
                                                    padding-top: 10px;
                                                    padding-left: 5px; }

                                                    #content .postContent .post p:first-child {
                                                      margin: 0px;
                                                      padding: 0px; }

                                                      #content article {
                                                        background: rgba(255, 255, 255, 0.6);
                                                        border-radius: 2px;
                                                        margin: 20px;
                                                        overflow: hidden;
                                                        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

                                                        #article_content {
                                                          background: rgba(255, 255, 255, 0.6);
                                                          border-radius: 2px;
                                                          margin: 20px;
                                                          padding: 10px;
                                                          padding-left: 20px;
                                                          overflow: hidden;
                                                          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

                                                          address {
                                                            display: inline; }

                                                            .published {
                                                              color: #A5A5A5; }

                                                              .entry-content {
                                                                font-size: 1em;
                                                                text-align: justify; }

                                                                .postContent img, .entry-content img {
                                                                  display: block;
                                                                  margin-left: auto;
                                                                  margin-right: auto; }

                                                                  .entry-content h1, h2, h3, h4, h5, h6 {
                                                                    font-size: 1.215em;
                                                                    margin: 0px; }

                                                                    .doctest-block, .highlight {
                                                                      background-color: #F8F8F8;
                                                                      border: 1px solid #CCC;
                                                                      font-size: 13px;
                                                                      line-height: 19px;
                                                                      overflow: auto;
                                                                      padding: 6px 10px;
                                                                      border-radius: 3px; }

                                                                      .entry-title {
                                                                        font-size: 1.5em; }

                                                                        .pageStyle {
                                                                          padding-top: 50px;
                                                                          margin-left: 50px;
                                                                          text-align: right;
                                                                          width: 75%; }

                                                                          footer {
                                                                            margin-left: 25%;
                                                                            margin-right: 25%;
                                                                            text-align: center;
                                                                            font-size: 11pt;
                                                                            padding: 10px; }

                                                                            footer a {
                                                                              font-weight: bold; }

                                                                              footer a:hover {
                                                                                color: #333; }

                                                                                .lf_body {
                                                                                  font-size: 12pt !important; }

                                                                                  #gcomments {
                                                                                    display: block;
                                                                                    margin: auto; }

                                                                                    #profile_pict {
                                                                                      float: left;
                                                                                      margin: 10px;
                                                                                      margin-left: 0px;
                                                                                      margin-bottom: 0px; }

                                                                                      .justify {
                                                                                        text-align: justify; }
